@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.design-color {
    color: #f1af17;
}

.design-h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.design-line-yellow:after {
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f1af17;
    margin: 50px auto 0px;
}

.design-line-white:after {
    display: block;
    content: "";
    height: 3px;
    width: 280px;
    background-color: #ffffff;
    margin: 30px auto 0px;
}

/* SECTION WITH BACKGROUND IMAGE START */

.back-foto1 {
    width: 100%;
    height: 101vh;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -5;
}

.back-foto2 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -5;

}

.back-foto3 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -5;

}

.back-foto4 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -5;
}

/* SECTION WITH BACKGROUND IMAGE END */

/* SECTION WITH CONTENT BLOCK START */
.face-grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 400vh;
    /*z-index: 10;*/
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(32, 1fr);
    gap: 25px;
    font-family: 'Montserrat', sans-serif;
}

/* start section content-title  */

.content-title-box {
    grid-area: 6/2/8/6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.content-title-logo {
    color: #ffffff;
    font-size: 48px;
}

.content-title-logo-name {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.content-title-logo-subslogon {
    font-size: 18px;
    margin-top: 3px;
}

.content-title-main-slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 129px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 54px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.content-title-main-slogan:after {
    content: "";
    width: 100%;
    height: 129px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: -1;
}

.content-title-main-slogan-part1 {
    display: inline-block;
    align-self: center;
    background-color: #ffffff;
    padding: 38px 33px;
    font-weight: 900;
}

.content-title-main-slogan-part2 {
    display: inline-block;
    width: 100%;
    font-weight: 900;
    align-self: center;
    justify-self: self-start;
    margin-left: 25px;
}

/* end section content-title  */

/* start section content-rewards  */

.content-bg-rewards {
    grid-area: 9/1/12/9;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.content-rewards-box {
    grid-area: 1/2/4/8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;


}

/* end section content-rewards  */

/* start section slogan  */

.content-slogan-box {
    grid-area: 12/2/16/8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

/* end section slogan  */

/* start section content-team  */

.content-bg-team {
    grid-area: 16/1/19/9;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.content-team-box {
    grid-area: 1/2/4/8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

/* end section content-team  */

/* start section product  */

.content-product-box {
    grid-area: 19/2/23/8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    color: #ffffff;
}

.content-product-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* end section product  */

/* start section achive  */

.content-bg-achive {
    grid-area: 23/1/26/9;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.content-achive-box {
    grid-area: 1/2/4/8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

/* end section achive  */

/* start section review  */

.content-review-box {
    grid-area: 26/2/30/8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    color: #ffffff;
    line-height: 1.5em;
}

/* end section review  */

/* start section footer  */

.content-bg-footer {
    grid-area: 30/1/33/9;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.content-footer-box {
    grid-area: 1/2/4/8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-content: center;
    text-align: center;
}

/* end section footer  */

.content-bg-start {
    grid-area: 9/1/33/1;
    background-color: #fff;
}

.content-bg-end {
    grid-area: 9/8/33/8;
    background-color: #fff;
}

/* SECTION WITH CONTENT BLOCK END */
